.main-posts{
    width: 80%;
    background-color: rgb(235, 233, 233);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:auto;
    padding-top: 10px;
}
.post{
  text-align: center;
  font-size: 40px;
  color: #0062b7;
}

